<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Binaural Beats Widget</string>
    <key>CFBundleExecutable</key>
    <string>BinauralBeatsWidget</string>
    <key>CFBundleIdentifier</key>
    <string>com.patrickcraig.binauralbeats.widget</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BinauralBeatsWidget</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.widget-extension</string>
        <key>NSExtensionPrincipalClass</key>
        <string>BinauralBeatsWidget</string>
    </dict>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2024 Patrick Craig. All rights reserved.</string>
</dict>
</plist>
